option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: my_keypair_name
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-1a2b3c4d
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-11aa22bb,subnet-33cc44dd
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-11aa22bb,subnet-33cc44dd
