commands:
  21_application_logs:
    command: echo "/var/app/current/var/log/*.log" > myapp.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  22_application_logs:
    command: echo "/var/app/current/var/log/*.log" > myapp.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  23_application_logs:
    command: echo "/var/app/current/var/log/*.log" > myapp.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  24_application_logs:
    command: echo "/var/app/current/var/log/*.log" > myapp.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d
